# Python & Environments
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Streamlit Cache
.streamlit/

# Dataset & Large media
Orignal-Dataset/
*.tmp
*.log

# Environment Variables
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
