# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env
.env.local

# Node / Frontend
node_modules/
frontend/build/
frontend/dist/
.npm
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
